@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    100 North Main Street<br />
    Indianapolis, IN 46202<br />
    <abbr title="Phone">P:</abbr>
    317.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@generalstore.com">Support@generalstore.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@generalstore.com">Marketing@generalstore.com</a>
</address>